<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>bruh chat</title>
  <link rel="stylesheet" href="styles.css">
  <script src="script.js" defer></script>
</head>
<body>
  <div class="header">

    
    <div class="dropdown" data-dropdown>
      <button  id="icon-symbol" class="link" data-dropdown-button>≡</button>
      <div class="dropdown-menu">
        <div class="user-info">

          <img class="user-icon user-info" src="silent-voice.png">
          <span class="user-info">  KeviTheDuck</span>
        </div>
        <br>
        <div class="other-options">
          <a class="link" href="#">Login</a><br><br>
          <a class="link" href="#">Logout</a><br><br>
          <a class="link" href="#">Settings</a><br><nr></nr>
        </div>

      </div>
    </div>
  </div>
</body>
</html