<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Bruh chat | sign up</title>
  <link rel="stylesheet" type="text/css" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='style_login.css') }}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
	<div id="login-box">
		<div class="logo">
			<img src="{{ url_for('static', filename='silent-voice.png')}}" class="img img-responsive img-circle center-block"/>
			<h1 class="logo-caption"><span class="tweak">Sign</span>up</h1>
		</div><!-- /.logo -->
		<div class="sign_up">Login <a href="/login">here</a></div>

		<div class="controls">
		
            <form class="form" action="/sign_up" METHOD="post">
            	<input type="text" name="name" placeholder="username" class="form-control" />
				<input type="email" name="email" placeholder="email" class="form-control" />
            	<input type="password" name="password" placeholder="password" class="form-control" />
				<input type="password" name="password2" placeholder="confirm password" class="form-control" />
				<button type="submit" class="btn btn-default btn-block btn-custom">Login</button>
			
            </form>
		</div>
	</div>
</div>
<div id="particles-js"></div>
<!-- partial -->
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css'></script>
<script src='https://code.jquery.com/jquery-1.11.1.min.js'></script>
<script  src="{{ url_for('static', filename='script_login.js')}}"></script>

</body>
</html>